*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background: #f2f4f8;
    text-align: center;
    padding-top: 50px;
}

h1{
    color: #333;
}

input, select,button{
    padding: 10px;
    font-size: 16px;
    margin: 5px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

button:hover{
    background-color: #4338ca;
}

#resultado{
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}